/*** Color variables ***/
/* General */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9e5dc;
  font-family: arial, "Helvetica Neue", helvetica, sans-serif; }

.row {
  width: 100%;
  overflow: hidden; }

.label {
  padding: 1px;
  color: #ffe168;
  text-shadow: -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444; }

.button {
  border: none;
  background-color: rgba(112, 112, 112, 0.8);
  width: auto;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 2px;
  pointer-events: all;
  cursor: pointer;
  color: white; }

.field {
  width: 100%;
  padding: 0;
  pointer-events: all;
  height: 25px;
  font-size: 1em;
  border: none;
  border-radius: 2px; }

/*** InfoWindow ***/
.time-zone {
  color: #9e9e9e;
  font-size: 0.8em;
  text-align: right;
  margin: -12px 0 0 0; }

h3 {
  margin: 5px 0 -10px 0;
  padding: 10px 0 0 0; }

/****** Navigation side bar ******/
#nav-bar {
  background: rgba(128, 128, 128, 0.4);
  position: absolute;
  width: 245px;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  margin-left: -235px;
  overflow: hidden;
  color: white; }
  #nav-bar section {
    margin: 7px 10px 7px 7px; }

.open {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(235px, 0, 0);
          transform: translate3d(235px, 0, 0); }

.closed {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

#hamburger {
  position: absolute;
  z-index: 1;
  margin: 3px 0 0 10px;
  width: 50px;
  height: 57px;
  background: rgba(128, 128, 128, 0.4);
  border-radius: 0 2px 2px 0;
  cursor: pointer; }

.icon {
  font-size: 65px;
  font-weight: lighter;
  margin: -10px 0 0 5px;
  color: rgba(112, 112, 112, 0.8); }

/*** Search ***/
.search .button {
  float: right; }

/*** Info ***/
.info {
  margin: 10px;
  text-shadow: -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444, 0 -1px 1px #444, -1px -1px 1px #444, -1px 1px 1px #444, 1px -1px 1px #444, 1px 1px 1px #444, -1px 0 1px #444, 0 1px 1px #444, 1px 0 1px #444; }

/*** Weather ***/
.weather {
  margin-top: 27px;
  height: 105px;
  /* Iterate text shadow to eliminate blur gradient and give thick outline effect */
  text-shadow: -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8, -2px 0 2px #e6e7e8, 0 2px 2px #e6e7e8, 2px 0 2px #e6e7e8, 0 -2px 2px #e6e7e8, -2px -2px 2px #e6e7e8, -2px 2px 2px #e6e7e8, 2px -2px 2px #e6e7e8, 2px 2px 2px #e6e7e8; }

.cur-condition {
  margin: -10px 0 0 5px;
  width: 100%;
  display: block; }

.cur-cond-text {
  position: relative;
  top: -30px;
  padding-left: 5px;
  font-size: 18px;
  color: #444;
  display: inline-block; }

.temps {
  display: block;
  position: relative;
  top: -75px;
  width: 100%; }
  .temps p {
    display: inline-block;
    padding: 5px;
    font-size: 15px; }

.temp {
  margin-left: 15px;
  color: #444; }

.high-temp {
  color: #f30;
  margin-left: 10px; }

.low-temp {
  color: #00b8e6; }

/* Location list */
.filter-results {
  /* Set the height of the element so the list is scrollable when the content exceeds the remaining screen space */
  height: calc(100% - 150px);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: visiblePainted;
  margin-top: -25px; }

.selected {
  color: #ffe168;
  text-shadow: -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444, -2px 0 2px #444, 0 2px 2px #444, 2px 0 2px #444, 0 -2px 2px #444, -2px -2px 2px #444, -2px 2px 2px #444, 2px -2px 2px #444, 2px 2px 2px #444; }

/*** Map ***/
#map {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0; }

.info-window {
  margin: -15px 0 0 0;
  max-width: 200px;
  overflow-x: hidden; }

/*** Alert messages ***/
.alert-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(128, 128, 128, 0.4);
  z-index: 10;
  pointer-events: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center; }

.alert-window {
  margin: auto;
  min-width: 250px;
  max-width: 400px;
  width: 50vw;
  background: rgba(112, 112, 112, 0.8);
  padding: 15px 25px 10px 25px;
  border-radius: 4px;
  display: flex-wrap;
  color: white; }
  .alert-window .message {
    font-size: 1em;
    padding: 0 0 7px 0;
    width: 95%;
    text-align: center;
    margin: auto; }
  .alert-window .button {
    position: relative;
    float: right;
    background: rgba(76, 76, 76, 0.9); }

/* General with priority */
.hidden {
  display: none; }
